* {
margin: 0;
font-family: "roboto-mono", monospace;
font-size: large;

}
body {
    width: 100%;
    height: 100vh;
    background-image:url(../images/red.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

nav, ul {
	list-style: none;
}

.logo {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

.naam {
    float: left;
    color: white;
    padding: 20px 20px;
    background-color: transparent;

}

.navbar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.navbar a {
    float:right;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: teal;    
}

.hero {
    height: 50vh;
    width: 100vh;
}

.content {
    margin-top: 300px;
    clear: both;
    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
    color: white;
}

.content-index {
    margin-top: 300px;
    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
    color: white;
}

button {
    margin-top: 10px;
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#container-solar {
    height: 609px;
    width: 1129px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#content-solar {
    height: 609px;
    width: 1129px;
    margin-top: 20px;

}

.caption {
    display: block;
    color: rgb(206, 206, 206);
    text-align: center;
    margin-top: 10px;
}


button:hover{
    background-color:teal;
}

.Portfolio-Images {
    margin-top: 60px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row img{
    height: 330px;
    width: 450px;
    margin: 10px;
    transition: all 1s;
    opacity: 0.8;
    border-radius: 20px;
}

.row img:hover{
    transform: scale(1.1);
    animation: 1s fadein;
}

.socials {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
    opacity: 1;
}
.fa-pinterest {
    background:#cb2027;
    color: white;
    opacity: 1;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    opacity: 1;
}

.fa-youtube {
    background:#bb0000;
    color: white;
    opacity: 1;
}

.fa:hover {
    opacity: 0.8;
  }

.container-skills {
    width: 40%;
    background-color: #ddd;

    position: relative;
	justify-content: center;
	text-align: center;
	
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
}

.html {width: 73%; background-color: #4CAF50;}
.css {width: 27%; background-color: #2196F3;}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.red {
    color:darkred;
}