* {
margin: 0;
font-family: 'Open Sans', sans-serif;

}
body {
    width: 100%;
    height: 100vh;
    background-image:url(../images/red.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

nav, ul {
	list-style: none;
}

.logo {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}
.naam{
    float: left;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor: pointer;

    text-decoration-line: none;
}

.navbar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.navbar a {
    float:right;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: teal;    
}

.content {
    margin-top: 300px;
    clear: both;
    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
    color: white;
}

button {
    margin-top: 10px;
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color:teal;
}

.Portfolio-Images {
    clear: both;
    padding-left: 150px;
}

.Portfolio-Images img{
    opacity: 0.8;
}

.Portfolio-Images img:hover {
    opacity: 1;
}


.image-grid img {
    height: 400px;
    width: 400px;
}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}