* {
margin: 0;
font-family: 'Open Sans', sans-serif;

}
body {
    width: 100%;
    height: 100vh;
    background-image:url(../images/red.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

nav, ul {
	list-style: none;
}

.logo {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

.naam {
    float: left;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor:;
    text-decoration-line: none;
}

.navbar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.navbar a {
    float:right;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: teal;    
}

.content {
    margin-top: 300px;
    clear: both;
    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
    color: white;
}

.content-index {
    margin-top: 300px;

    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
    color: white;
}

button {
    margin-top: 10px;
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color:teal;
}

.Portfolio-Images {
    margin-top: 60px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row img{
    height: 330px;
    width: 450px;
    margin: 10px;
    transition: all 1s;
    opacity: 0.8;
    border-radius: 20px;
}

.row img:hover{
    transform: scale(1.1);
    animation: 1s fadein;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.red {
    color:darkred;
}