* {
margin: 0;
font-family: "roboto-mono", monospace;
font-size: large;

}
body {
    width: 100%;
    height: 100vh;
    background-image:url(../images/red.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

/* Navbar Section*/
nav, ul {
	list-style: none;
}
.logo {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.naam {
    float: left;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
}

.navbar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.navbar a {
    float:right;
    color: white;
    padding: 20px 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: teal;    
}
/* eind Navbar Section */

/* Maybe voor nog iets voor later atm word het niet gebruikt meer */
button {
    margin-top: 10px;
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color:teal;
}

/* eind button */


/* Solar Section*/
#container-solar {
    height: 609px;
    width: 1129px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#content-solar {
    height: 609px;
    width: 1129px;
    margin-top: 20px;
}
/* eind Solar Section*/

/* caption voor de texten onder images*/
.caption {
    display: block;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: large;
}
/* eind caption*/


/* Portfolio Section*/
#Portfolio-Images {
    margin-top: 60px;
    clear: both;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.row img{
    height: 330px;
    width: 450px;
    margin: 10px;
    transition: all 1s;
    opacity: 0.8;
    border-radius: 20px;
}

.row img:hover{
    transform: scale(1.1);
    animation: 1s fadein;
}


/* Form van het registreren van email*/
#contact-form {
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
form {
    text-align: center;
    color: white;
    
}
/* eind Email Form Registration*/



/* Footer Section*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.links {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

/* Logos in de footers zelf Section*/
.fa {
    padding: 20px;
    display: block;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
    opacity: 1;
}
.fa-pinterest {
    background:#cb2027;
    color: white;
    opacity: 1;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    opacity: 1;
}

.fa-youtube {
    background:#bb0000;
    color: white;
    opacity: 1;
}

.fa:hover {
    opacity: 0.8;
}
/* eind Footer Section*/

/* Voor de Fade in Animation bij het laden van de website*/
@keyframes fadein {
	100% {
		opacity: 1;
	}
}

