
.container-skills {
    width: 40%;
    background-color: #ddd;
    position: relative;
	justify-content: center;
	text-align: center;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {width: 73%; background-color: #4CAF50;}
.css {width: 27%; background-color: #2196F3;}
